{% extends "@App/Layout/layout-two-col-8-4.html.twig" %}

{% block Post %}


<div>
    <div>
        {{ form(registration_form) }}
    </div>
    <div>
        <a href="/">back</a>
    </div>
</div>



{% endblock %}