{% extends "@App/Layout/layout-two-col-8-4.html.twig" %}

{% block Post %}

    <h3>Create Ad</h3>


    <div class="post-add">
        {{ form(form) }}
    </div>
    <div class="post-link"><a href="/">back</a></div>

{% endblock %}