{% extends "::base.html.twig" %}
{% block title %}Create Ad{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12 order-md-1">
            <a class="btn btn-outline-primary" href="{{ path('page_list') }}">Назад</a>
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Create Ad</h4>
            {{ form(form) }}
        </div>
        <div class="col-md-4 order-md-2 mb-4">
        </div>
    </div>

{% endblock %}